@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , Arial, Helvetica, sans-serif !important;
  font-size: 1rem;
  line-height:1.4 ;
  background-color: #eee;
}